.tittle-benefits-1 {
  font-weight: bold;
  padding: 10px;
  margin: 10px auto;
  font-size: 40px;
  
}

.tittle-benefits-2 {
  margin: 20px 0;
}
/*Começo dos beneficios */

.carrossel-Benefits{
  display: flex;
  justify-content: center;
}
.carrossel-Benefits img{
  width: 100px;
  margin: 10px 0;
}

.container-Benefits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  margin: 40px auto;
  padding: 40px auto;
}


.grade {
  margin: 25px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}

.grade p {
  margin: 0 auto;
  width: 300px;
  padding: 0 20px;
}

.divisor {
  margin: auto;
  margin-bottom: 20px;
  width: 80px;
  height: 5px;
  background: var(--cor-1);
}

.slide p {
  padding: 10px;
  font-family: 'GorditaFontRegular';
}


/*Começo dos canais */

#canais {
  margin: 10px 0;
}

#canais a {
  font-family: 'GorditaFontLite';
}

.carrossel-canais-aberto {
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  gap: 10px; 
  overflow-x: none;
}

.carrossel-canais {
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  
  overflow-x: none;
}

.container-Benefits a {
  font-size: 16px;
  padding: 20px 0;
  text-decoration: underline var(--cor-1) 2px;
  
}

.container-canais-aberto {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/*Começo dos combos telefones*/

.bt-assinar{
  background: linear-gradient(82deg, var(--cor-1) 4.34%, #04CB3A 97.83%);
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;

}

.bt-assinar a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.combo-telefone {
  margin: 20px 0;
}

.name-marca {
  font-family: GorditaFont;
  color: var(--cor-1);
}

.perguntas {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  color: #fff;
}

.tittle-pergunta {
  font-weight: bold;
}

.name-marca-destaque{
  font-family: GorditaFont;
  color: var(--cor-1);
  font-size: 20px;
}

.lista-perguntas {
  text-align: left;
  background: #1D3840;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
}

.saber-mais {
  cursor: pointer;
}