*{
    --cor-1: #008D1E;
}

.container-Benefits {
    max-width: 280px;
    margin: 20px auto 20px auto;
}

.container-Benefits h2, h5 {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

.container-Benefits img {
    margin: 5px;
    padding: 5px;
}

.carrossel-Benefits {
    width: 300px;
    height: auto;
    margin: 10px calc(100% - 105%);
    display: flex;
    overflow: hidden ;
}

.carrossel-Benefits img {
    width: 90px;
}

.grade {
    margin: 0 auto;
    display: flex;
    align-items: center;
    animation: carrossel-beneficios 8s infinite;    
}

@keyframes carrossel-beneficios {

    0%{
        transform: translateX(0%);
        animation-delay: 1s;
    }

    50%{
        transform: translateX(calc((-100%/3)*1)) ;
        animation-delay: 1s;
    }

    100%{
        transform: translateX(calc((-100%/3)*2)) ;
        animation-delay: 1s;
    }

    
}

.grade p {
    margin: 0 auto;
    width: 300px;
    padding: 0 20px;
}



.divisor {
    margin: auto;
    margin-bottom: 20px;
    width: 56px;
    height: 2px;
    background: var(--cor-1);
}

#canais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--cor-1);
}

.contatos-para-assinar {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links-contato {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links-contato a {
    color: #fff;
}
